html {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  background-color: hsl(203, 100%, 12%);
  background-image: url('./bg.svg');
  background-size: cover;
  color: var(--default-text-color);
  font-family: var(--default-font);

}

body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  color: #00eeff;
}

a {
  &, &:visited {
    color: var(--link-color);
  }
  &:hover, &:active {
    color: var(--link-color-hover);
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--default-text-color);
  margin: 1rem 0;
}

.indent-1 {
  margin-left: 1ch;
  @media (min-width: 530px) {
    margin-left: 2ch;
  }
}

.padding-indent-1 {
  padding-left: 1ch;
  @media (min-width: 530px) {
    padding-left: 2ch;
  }
}

i {
  &.var {
    color: #569cd6;
    font-style: normal;
  }
  &.keyword {
    color: #c586c0;
    font-style: normal;
  }
  &.bracket {
    color: var(--title-text-color);
    font-style: normal;
  }
  &.class {
    color: #4ec9b0;
    font-style: normal;
  }
  &.constant {
    color: #00c2ff;
    font-style: normal;
  }
}

h1, h2 {
  margin-block-start: 2rem;
  font-family: var(--header-font);
  color: var(--title-text-color);
  letter-spacing: 1px;
  margin-block-end: 1rem;
}

h2::before {
  content: "> ";
}

h3, h4 {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
}

h2 + h3 {
  margin-block-start: 1rem;
}

h3 + h4 {
  margin-block-start: -0.75rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.17rem;
}

ul {
  padding-inline-start: 20px;
}

p {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

p + ul {
  margin-block-start: -0.5rem;
}
